<div class="chat-header">
  <div class="group-name"><%=@room.name%></div>
  <div class="delete-button">
    <a href="#" class="chat-delete">チャットを終了する</a>
  </div>
</div>


<div class="messages">
  <%# collectionメソッドを使用することで@messagesに入っているデータ文部分テンプレートを繰り返すというeachメソッドと同じ役割を持つ %>
  <%# 部分テンプレートで@messagesは部分テンプレート名のmessageとなる %>
   <%= render partial: 'message', collection: @messages %>
</div>



<%= form_with model: [@room, @message],class:"form", local: true do |f| %>
<div class="form-input">
  <%= f.text_field :content,class:"form-message", placeholder: 'type a message' %>
  <label class="form-image">
    <span class="image-file">画像</span>
    <%=f.file_field :image, class:"hidden"%>
  </label>
  </div>
  <%= f.submit "送信",class:"form-submit"%>
<% end %>

