<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%=message.user.name%>

    </div>
    <div class="message-date">
      <%# lで日本時刻設定に %>
      <%= l message.created_at%>
    </div>
    <div>
      <%= link_to "削除", room_message_path(@room.id,message.id), class: 'btn',data: { turbo_method: :delete }%>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%=message.content%>
    </div>
    <%# 画像が存在したら読み込む %>
    <%# 500*500のサイズに編集して表示 %>
    <%= image_tag message.image.variant(resize:'500x500'), class: 'message-image' if message.image.attached? %>
  </div>
</div>